/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 480px) {
    .home-feedback,.home-feedback__avatar,.home-feedback-body__content{
        width:100%
    }
    
    
    }
@media only screen and (max-width: 767px) { 
 .nav.navbar-nav.navbar-right {
    margin-right:  auto;
    margin-top:  auto;
}
.header-top .carousel .item,.header-top .carousel .item img{
    height: 470px;
}
.slide-text{
    top: 32%;
}
 .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
     margin-left: 15px;
 }
 .search-area,.fetured .col-md-4,.latest .col-md-3,.banner .fix{
    margin-left: 15px;
    margin-right: 15px;
 }
 .no-pd,.blog-fix{
    padding: 0 15px;
 }
 
 .message-boxes .slide .item .pd-none{
    float: none !important;
 }
 .home-feedback {
    margin:60px  auto;
    }
#navbar5{
    background: rgba(255, 244, 255, 0.6) none repeat scroll 0 0;
    border: 1.5px solid #ddd;
    padding: 0;
    
}
.navbar-brand{
    margin-left: 10px;
}
#topheader .navbar-nav li > a{
    text-align: center;
}
#topheader .navbar-nav li.active > a, #topheader .navbar-nav li:hover > a {
    background: rgba(30,159,126, .6);
    color: #fff;
    border-radius: 3px;
}
.hvrbox {
    text-align: center;
    width: 100%;
}
.hvrbox img{
    margin: auto;
    vertical-align: middle;
}
.about_title p{
    margin-top: 30px;
    font-weight: 600;
}
.about_section{
    text-align: center;
}
.fotter_box {
    margin-bottom: 30px;
}
.section_title h3{
    text-align: center;
  
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}


/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    

}



   
   
   